extends layout
block css
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/stylesheets/admin_home.css')
block content
    #parent-container
      #misc
      #navigation-area
        ul#nav-menu
          span Navigation
          li
           a(href='/admin') Home
          li
            a(href='/admin/alerts') Alerts
          li
            a(href='/admin/users') Users
          li
            a(href='https://docs.google.com/spreadsheets/d/1yJWURjN98gjpeAfh9GAb1UTLecJh2kmIHof3m946Jvw/edit?usp=sharing' target='_blank')  Sheet 
          li 
            a Drive
      #dash-panel
        #alerts-widget.item.no-new
          h1.widget-big-num 0
          h3.widget-med-text New Alerts
          h3.widget-sub-text
        #completion-widget.item
          h1.widget-med-num 0%
          h3.widget-med-text Completed
          h3.widget-sub-text
        #visitor-widget.item
          h1.widget-big-num 0
          h3.widget-med-text Visitors
          h3.widget-sub-text Today
      #dash-table
          #completion-panel
              #awaiting.completion-container Awaiting
                ul
              #completed.completion-container Completed
                ul
        // h3 Employee Status
        // ul
          // li Gordon Nikimutu - Quarantined 20 Days
          // li Gordon Nikimutu - Needs Vaccination
          // li Bailey - Working from Home
          
block scripts          
    script(src='https://cdn.jsdelivr.net/npm/@widgetbot/crate@3' async='' defer='').
      new Crate({
      server: '806891000572149772', // test-server
      channel: '806891001074548768' // #general
      })
    script(type='text/javascript' src='/javascripts/home.js')
