extends layout
block css
    link(href='https://fonts.googleapis.com/css2?family=Cutive+Mono:wght@300;400&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/stylesheets/admin_users.css')
block content
    #parent-container
      #navigation-area
        ul#nav-menu
          span Navigation
          li
           a(href='/admin') Home
          li
            a(href='/admin/alerts') Alerts
          li
            a(href='/admin/users') Users
          li
            a(href='https://docs.google.com/spreadsheets/d/1yJWURjN98gjpeAfh9GAb1UTLecJh2kmIHof3m946Jvw/edit?usp=sharing' target='_blank')  Sheet 
          // li 
            // a Drive
      #panel-area
        #card-group
            #profile-card
              .flex-container.heading
                #employee-info.flex-item
                  h2#fullname
                  input#email
                  br
                  input#phone
                .flex-item(style='text-align: right')
                    .schedule
                        .flex-schedule
                          .schedule-segment#M
                            .schedule-day M
                          .schedule-segment#T
                            .schedule-day T
                          .schedule-segment#W
                            .schedule-day W
                          .schedule-segment#Th
                            .schedule-day Th
                          .schedule-segment#F
                            .schedule-day F
                          .schedule-segment#S
                            .schedule-day S
                          .schedule-segment#Su
                            .schedule-day Su

              #schedule-container.flex-container
                 
                .flex-item#data-area

                        #data-listing
                            ul
                              li
                                span.data-label status:
                                span#activity
                              li
                                span.data-label state:
                                span#state
                              br
                              li
                                span.data-label title: 
                                input#title
                              li
                                span.data-label group: 
                                input#group
                              li
                                span.data-label username: 
                                span#field_username
                              li
                                span.data-label key: 
                                span#field_key
                                br
                              // li
                                // span.data-label docs:
                                // #docIcon-anchor
                                  // img#field_vacDoc(src='http://icons.iconarchive.com/icons/papirus-team/papirus-apps/512/google-docs-icon.png', width='24')

                .flex-item#note-area
                    span.data-label#note-label  note:
                    br
                    textarea#note
            #alert-history(style="background:#fafafa")
                .section-heading(style="color: grey") Alerts
                ul
        #expandable
      #right-bar
        #search-area
          input#search-input(placeholder='Search Users')
          #search-results
            ul
          img.search-icon(src='http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png', width='48')
          button#add-from-sheet.user-menu-option > Add Users from Sheet
          #change-list 
            ul Pending Changes
           #user_saved
              .exit_user_saved
              .small-circle
              | User Saved
        #actions-area
          span Actions
          ul#actions-history
block scripts       
    script(type='text/javascript' src='/javascripts/user.js')
