extends layout
block css
    link(href='https://fonts.googleapis.com/css2?family=Cutive+Mono:wght@300;400&display=swap' rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/admin.css')
    link(rel='stylesheet', href='/stylesheets/admin_users.css')
block content
    #parent-container
      #misc
        #user_saved
          .exit_user_saved
          .small-circle
          | User Saved
      #navigation-area
        ul#nav-menu
          span Navigation
          li
           a(href='/admin') Home
          li
            a(href='/admin/alerts') Alerts
          li
            a(href='/admin/users') Users
          li
            a(href='https://docs.google.com/spreadsheets/d/1yJWURjN98gjpeAfh9GAb1UTLecJh2kmIHof3m946Jvw/edit?usp=sharing' target='_blank')  Sheet 
          li 
            a Drive
      #panel-area
        #card-group
            #profile-card
              .flex-container.heading
                #employee-info.flex-item
                  h2#fullname Gordon Nikimutu
                  span#email gnikimutu@gmail.com
                  br
                  span#phone 123-410-2923
                .flex-item(style='text-align: right')
                    .schedule
                        // .section-heading(style="text-align:right") Schedule
                        .flex-schedule
                          .schedule-segment
                            .schedule-day(style="border-left: solid 2px lightblue") M
                          .schedule-segment
                            .schedule-day T
                          .schedule-segment
                            .schedule-day W
                          .schedule-segment
                            .schedule-day Th
                          .schedule-segment
                            .schedule-day F
                          .schedule-segment
                            .schedule-day S
                          .schedule-segment
                            .schedule-day Su
              hr
              #schedule-container.flex-container
                 
                .flex-item

                        #data-listing
                            ul
                              li
                                span.data-label activity:
                                span.activity-label On Campus
                              li
                                span.data-label status:
                                span.state-label Passed
                              br
                              li
                                span.data-label username: 
                                span#field_username
                              li
                                span.data-label group: 
                                span#field_group
                              li
                                span.data-label key: 
                                span#field_key asdg89
                                br
                              li
                                span.data-label docs:
                                #docIcon-anchor
                                  img#field_vacDoc(src='http://icons.iconarchive.com/icons/papirus-team/papirus-apps/512/google-docs-icon.png', width='24')

                .flex-item(style="border-left:solid 1px lightgrey; flex-grow: 2")
                    span.data-label#note-label  note:
                                        br
                                        textarea#user_note
            #alert-history(style="background:#fafafa")
                .section-heading(style="color: grey") Alerts
                ul
                  li.alert-urgent 2/15 - Covid Signs reported
                  li 2/14 - Did not complete DST 
        #expandable
      #right-bar
        #search-area
          input#search-input(placeholder='Search Users')
          #search-results
            ul
          img.search-icon(src='http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png', width='48')
          button#add-from-sheet.user-menu-option > Add Users from Sheet
          // button.user-menu-option > Delete This User
        #actions-area
          // #submit_btn_anchor
            // button#submit_changes_btn > Save Changes
          span Actions
          ul#actions-history
block scripts       
    script(type='text/javascript' src='/javascripts/user.js')
