extends layout
block content
    #success_gradient
    #welcome.welcome_screen
      img(src='https://making-waves.org/wp-content/uploads/2017/07/MakingWavesAcademy_boldtypea-289x300.jpg')
      h2
      p
      .answer.active
        button.start_btn.btn
          | Start
    #1.item.inactive.unanswered
      .question
        h2
        p
      .answer
        button.yes_btn.btn Yes
        button.no_btn.btn No
    #2.item.inactive.unanswered
      .question
        h2
        p
      .answer
        button.yes_btn.btn Yes
        button.no_btn.btn No
    #3.item.inactive.unanswered
      .question
        h2
        img
      .answer
        button.yes_btn.btn Yes
        button.no_btn.btn No
    #4.item.inactive.unanswered
      .question
        h2
      .answer_multiple
      #submit
      img#distancing(src='https://i.ibb.co/bPH41Pt/testgraphic.png')
    #success.result_screen
      h2
      img(src='https://i.ibb.co/y073Rvx/tick-inside-circle-1.png' width='100px')
      p
      span
    #failure_1.result_screen
      h2
      p
    #failure_2.result_screen
      h2
      p
    #results_div
      span(id='#results')
        | Results:
    .container
      span#progress
      .progress
        .progress-bar
    #footer
      button.back_btn.inactive ∧
      button.forward_btn.inactive ∨
      select#language
        option(value='english') English
        option(value='spanish') Spanish


block scripts        
    script(type='text/javascript' src='/javascripts/display.js')