extends layout

block content
    #login
        form(method="POST" action="/login" id="login_form")
          #login_logo
                img(src='https://static.wixstatic.com/media/5ed204_3436467ac2904b6ba6782294f20abbae~mv2.png/v1/fill/w_309,h_72,al_c,q_85,usm_0.66_1.00_0.01/5ed204_3436467ac2904b6ba6782294f20abbae~mv2.webp')
          .login_field
                span Username:
                input(id=" login_name"  name="uname" placeholder='email@address.com')
          .login_field
                span Password:
                input(id = "login_password" name="pw" type= "password")
           button#login_btn Login
          div
            a(href="/") Reset Password
