extends layout
block css
    link(rel='stylesheet', href='/stylesheets/register.css')


block content
    .form
        form(method="POST" action="/login" id="login_form")
         .title Login
         .subtitle The HR Manager Wellness Tool
         .input-container.ic1
              input#login_name.input(type='text' name="uname"  placeholder=' ')
              .cut
              label.placeholder(for='username') Username
         .input-container.ic1
              input#login_name.input(type='password' name="pw"  placeholder=' ')
              .cut
              label.placeholder(for='password') Password
         button(type='submit').submit Login
         div#reset
           a(href="/" style="font-family: Sans-Serif") Reset Password
