extends layout
block css
    link(rel='stylesheet', href='/stylesheets/register.css')


block content
    .form
        .title Login
        form(method="POST" action="/login" id="login_form")
          .input-container.ic1
              input#login_name.input(type='text' name="uname")
              .cut
              label.placeholder(for='firstname') Username
          .input-container.ic1
              input#login_name.input(type='password' name="pw")
              .cut
              label.placeholder(for='firstname') Username
           button(type='submit').submit Login
          div
            a(href="/") Reset Password
