extends layout

block content
    #login
        form(method="POST" action="" id="register_form")
              #login_logo
                    img(src='https://static.wixstatic.com/media/5ed204_3436467ac2904b6ba6782294f20abbae~mv2.png/v1/fill/w_309,h_72,al_c,q_85,usm_0.66_1.00_0.01/5ed204_3436467ac2904b6ba6782294f20abbae~mv2.webp')
              .login_field
                    span Username:
                    input#register_name(type="text" name="uname" placeholder='email@address.com')
              .login_field
                    span Password:
                    input(type="password" name="pw" id="register_password")
              .login_field
                    span Confirm Password:
                    input(type="password" id="register_confirmpassword")
              button(type='submit' id="register_btn") Register
              #message
        
block scripts
    script(type='text/javascript' src='/javascripts/register.js')