extends layout
block css
        link(rel='stylesheet', href='/stylesheets/terms.css')

block content
    #header
      img(src="https://making-waves.org/wp-content/uploads/2017/07/MakingWavesAcademy_boldtypea-289x300.jpg")
    h3#title COVID-19 Health Screening Acknowlegment

    p
      | I understand that the COVID-19 health screening is a 
      span.inline-bold-underline daily requirement
      |  and must be completed prior to reporting to campus.

    p 
      | If at any point I develop any COVID-19 symptoms or believe that I have been exposed to COVID-19 I will not report to MWA for work, and will properly notify Human Resources (HR) as detailed below.
      span.inline-bold-italic  I will not return to campus until I have provided HR with a physician’s note stating I do not pose an ongoing safety risk.
      | 


    p   Failure to follow these guidelines creates a health and safety risk to you and your fellow MWA staff and students. If you have any questions regarding COVID-19 including symptoms or screening questions please refer to the 
      a(href="/") CDC
      |  for more information. 

    p By completing this acknowledgment, you agree to have answered the questions honestly. Any employee who has falsified this information will be subject to disciplinary action. You also acknowledge that if at any time, you begin to exhibit symptoms before or during your shift, you are 
      span.inline-bold-underline required
      |  to notify HR and your supervisor immediately.
    p For support, email 
      a(href="humanresources@mwacademy.org") humanresources@mwacademy.org
      |  or phone 510-426-1765.
      
      #button-area
        button#continue-btn(onClick="location.href='../activate'") Acknowledge and Continue
      
      #legal
        p(style="font-size: 11px; color: grey; margin-top: 6em") 1. Electronic Signature Agreement. By selecting the "Acknowledge and Continue" button, you are signing this Agreement electronically. You agree your electronic signature is the legal equivalent of your manual signature on this Agreement. By selecting "Acknowledge and Continue" you consent to be legally bound by this Agreement's terms and conditions.
