/* admin_home.css*/



@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px){
    #dash-panel{
        margin-top: 5vh !important;
        flex-direction: column;
        width: 90vw !important;
        height: 80vh !important;
    }

}
html{
  height: 100%;
}

#parent-container{
  height: 100%;
}

/* Dash Panel */

#dash-panel{
  margin-left: 360px;
  margin-top: 40px;
  width: 920px;
  height: 300px;
  float: left;
  display: flex;
}

#dash-table{
  margin-left:400px;
  float: left;
  width: 920px;
  color: #4f4f4f;
}

#dash-panel .item{
  float: left;
  width: 100%;
  height: 200px;
  margin: 2vw;
  box-shadow:0 5px 15px -10px `(0,0,0,1);
  border-radius: 4px;
  position: relative;
  transition: transform .3s;
}

#dash-panel .item:hover{
  transform:scale(1.06);
  cursor: pointer;
}
#alerts-widget{
  border: solid 3px #FA8072;
  /* background-image: linear-gradient(360deg, #fb6f6c  0%, #FB7D7A 44%); */
  color: grey;
}

#alerts-widget.no-new{
  border-color: lightgrey !important;
  color: lightgrey;
  box-sizing: border-box;
  box-shadow: none;
}
.are-inprogress{
  color: blue;
  opacity: .6 !important;
}

#completion-widget{
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #eee 74%);
  border: solid 2px #A8A8A8;
  color: #383838;
}
#visitor-widget{
  background-color: #b0b0b0;
  color: grey;
}

.widget-big-num{
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 70px;
}

.widget-med-num{
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 30px;
}


.widget-med-text{
  position: absolute;
  top: 35px;
  left: 70px;
  font-size: 30px;
}

.widget-sub-text{
  position: absolute;
  bottom: 40px;
  right: 20px;
  opacity: .7;
}

/* temp completion panel */
#completion-panel{
  display: none;
}
.completion-container{
  float: left;
  width: 300px;
}