#nav-menu li a:visited{
  color: grey;
}

#nav-menu li a{
  color: grey;
}

a:-webkit-any-link {
    text-decoration: none;
}

@media only screen and (max-width: 600px){
    #navigation-area{
        display: none !important;
    }
}

body {
  background: #fafafa;
  margin: 0;
  font-family: Sans-Serif;
  height: 100%;
}

#navigation-area{
  position: fixed;
  background: white;
  height: 100%;
  width: 140px;
  float: left;
  padding: 20px;
  padding-top: 60px;
  padding-left: 60px;
  box-shadow:0 5px 12px -10px rgba(0,0,0,1);
}

#nav-menu{
  border-left: solid 3px #D5ECFF;
  list-style: none;
}

#nav-menu span{
  position: relative;
  right: 20px;
  top: -20px;
  font-weight: bold;
  
}

#nav-menu li{
  margin-bottom: 1em;
}

#nav-menu li a{
  color: grey;
  text-decoration: none;
}
#nav-menu li a:hover{
  color: blue;
  cursor: pointer;
  transition: color .3s;
}