
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px){
    #slider-panel{
        width: 100vw !important;
    }
   #slider-nav ul{
        margin-top: -40px;
        text-align: left !important;
    }
    #slider-nav ul li{
        margin-right: 10px !important;
}

}

html{
  height: 100%;
}

body {
  background: #eee;
  margin: 0;
  font-family: Sans-Serif;
  height: 100%;
}
.alert-hovered{
  background: #fafafa;
}

#parent-container{
  height: 100%;
}

/* Slider */
#slider-panel{
  float: left;
  width: 540px;
  height: 640px;
  margin-left: 300px;
  margin-top: 120px;
  border-radius: 2px;
}
#slider-nav ul{
  margin-top: -40px;
  list-style: none;
  text-align: center;
  padding-left: 0;
}
#slider-nav ul li{
  display: inline;
  margin-right: 22px;
}

.slider-tab:hover{
  cursor: pointer;
}

.slider-tab{
  padding: 6px 14px;
  border-radius: 5px;
  transition: background .4s;
}

.slider-tab.active{
  background: #d8d8d8;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  height: 100%;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

/* Slider Alerts Table */
.alerts-table{
  margin-top: 20px;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.alerts-table::-webkit-scrollbar {
  width: 8px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.alerts-table::-webkit-scrollbar-thumb {
  width: 8px;
	border-radius: 10px;
	background-color: lightgrey;
}

/* End Slider Alerts Table */

/* Slider Alert */
.alert{
  overflow: visible;
  position: relative;
  margin:auto;
  margin-top: 1em;
  width: 74%;
  padding: 20px 30px;
  margin-bottom: 2em;
  transition: all .3s;
  box-shadow:0 5px 8px -4px rgba(0,0,0,0.2);
  background: white;
  /* border-bottom:solid 2px #eee; */
  border-radius: 2px;
}

#table-new .alert {
  padding-left: 50px;
  padding-right: 10px;
}
.alert:hover{
    cursor: pointer;
}
.alert-answers{
    display: none;
    padding-right: 20px;
}
.alert-date{
  z-index:2;
  position: absolute;
  top: -10px;
  left: -14px;
  float: left;
  background: #eee;
  color: grey;
  border-radius: 4px;
  padding: 4px;
  /* margin-right: 10px; */
  /* margin-top: -4px; */
}

.moving{
    opacity: .7;
    transform: translate(10px);
}

.moving-left{
    opacity: .7;
    transform: translate(-10px);
}

.today{
  background: #DC143C;
  color: white;
}

.move-btn:hover{
  cursor: pointer;
}

.move-btn{
  opacity: 0;
  position: absolute;
  transition: opacity .2s;
  background: white;
  color: grey;
  z-index: 1;
  top: 0px;
  right: 0px;
  text-align: center;
  padding: 18px 24px;
  padding-bottom: 18px;
  border-radius: 0px 2px 2px 0px;
  background: #fafafa;
}
/* End Slider Alert */

/* End Slider */

/* Right Bar */
#user-info{
    height: 1em;
}
#right-bar{
   padding-top: 2em;
  display: flex;
  flex-direction: column;
  float: left;
  padding-left: 20px;
  width: 200px;
  height: 500px;
  margin: 0px 20px;
  margin-left: 20px;
  margin-top: 68px;
}

#actions-area{
  padding-top: 20px;
  white-space: nowrap;
}

#actions-area ul{
  color: grey;
  padding: 0;
  list-style-type: none;
}

.search-icon{
  position: absolute;
  top: -10px;
  left: -40px;
  opacity: .3;
}

#search-area{
  height: 100px;
  margin-top: 60px;
  position: relative;
}

#search-input{
  background: none;
  border: none;
  height: 1.5em;
  font-size: 1.2em;
  border-bottom: solid 2px lightgrey;
  margin-bottom: 2em;
}

input{
  outline: none;
}

#note-area{
    margin-bottom: 2em;
    /* height: 480px; */
    /* border-bottom: solid 1px lightgrey; */
}

#note{
  font-size: 14px;
  line-height: 1.5em;
  font-family: "Source Sans Pro";
  background: none;
  margin-top: 10px;
  min-height: 13em;
  border:none;
  border-left: solid 1px #CFCFCF;
  resize: none;
  width: 140%;
  box-sizing: border-box;
  padding: 15px;
  outline: none;
}

#note:hover{
  background: #fafafa;
}

#note:focus{
  border-left: none;
  background:#fafafa;
}

#note::-webkit-scrollbar {
  width: 4px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#note::-webkit-scrollbar-thumb {
  width: 4px;
	background-color: lightgrey;
}
#change-activity{
    position: relative;
}
#change-activity:after{
    top: 3px;
    font-size: 10px;
    content: '▼';
    position: absolute;
    right: 5px;
}

/* End Right Bar */