html{
  height: 100%;
}

body {
  background: #eee;
  margin: 0;
  font-family: Sans-Serif;
  height: 100%;
}

#parent-container{
  height: 100%;
}

#navigation-area{
  position: fixed;
  background: white;
  height: 100%;
  width: 160px;
  float: left;
  padding: 20px;
  padding-top: 60px;
  padding-left: 60px;
  margin-right: 120px;
}

#nav-menu{
  border-left: solid 3px #D5ECFF;
  list-style: none;
}   

#nav-menu span{
  position: relative;
  right: 20px;
  top: -20px;
  font-weight: bold;
  
}

#nav-menu li{
  margin-bottom: 1em;
  color: grey;
}
#nav-menu li:hover{
  color: blue;
  cursor: pointer;
  transition: color .3s;
}

#right-bar{
  display: flex;
  flex-direction: column;
  float: left;
  padding-left: 20px;
  width: 200px;
  height: 500px;
  margin: 0px 20px;
  margin-left: 80px;
  margin-top: 68px;
}

#search-area{
  height: 460px;
  border-bottom: solid 1px lightgrey;
  position: relative;
}

#search-input{
  background: none;
  border: none;
  height: 1.5em;
  font-size: 1.2em;
  border-bottom: solid 2px lightgrey;
}

#search-results{
    background: white;
    margin-bottom: 2em;
}

.user-menu-option{
  border: none;
  color: grey;
  border-bottom: dotted 1px grey;
  
}

#actions-area{
  padding-top: 20px;
  white-space: nowrap;
}

#actions-area ul{
  color: grey;
  padding: 0;
  list-style-type: none;
}

#panel-area{
  margin-left: 320px;
  padding-top: 60px;
  float: left;
  width: 640px;
}

#profile-card span{
    font-size: .9em;
}
#profile-card #data-listing{
    /* font-family: 'Cutive Mono' !important; */
}
.data-label{
    /* font-family: 'Cutive Mono' !important; */
    font-weight: bold;
}

#alert-history{
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 148px;
    padding: 10px 20px;
    border-radius: 0 0 4px 4px;
    /* font-family: 'Cutive Mono' !important; */
}

#card-group{
    float:left;
    height: 100%;
    display: none;
    transform: scale(.92);
    transition: box-shadow .3s ease-out;
    transition: transform .4s;
    margin-bottom: 100px;
}
#profile-card{
  border-radius: 4px 4px 0px 0px;
  border-bottom: solid 1px #eee;
  float: left;
  width: 100%;
  height: 390px;
  padding: 20px;
  margin-top: 20px;
  background: white;
  box-sizing: border-box;
}

#fullname{
   font-size: 18px;
  margin-bottom: .5em;
}

.section-heading{
  font-weight: bold;
  color: #3A3A3A;
  margin:15px 0px;
}
.heading {
  padding-bottom: 5px;
}
.flex-container{
  display: flex;
  flex-direction: row;
}

.flex-item{
  flex-grow: 1;
}

.activity-label{
  background: #B4EDBA;
  color: #407045;
  border-radius: 5px;
  padding: 3px 6px;
}

.state-label{
  background: #eee;
  color: #616161;
  border-radius: 5px;
  padding: 3px 6px;
}

/* Schedule */
.flex-schedule{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 28px;
  float: right;
}
.schedule-segment{
  display: flex;
  flex-direction: column;
}

.schedule-day{
  background: white;
  /* #E6F2FF */
  color: #02336B;
  /* border-right: solid 1px lightblue; */
  /* border-bottom: solid 1px lightblue; */
  /* border-top: solid 1px lightblue; */
  width: 1em;  
  padding: 4px 6px 4px 6px;

}

.schedule-start{
  font-size: 16px;
  border: none;
  border-right: solid 1px lightgrey;
  border-bottom: solid 1px lightgrey;
  padding: 4px 6px 4px 6px;
  width: 1em;
  height: 1em;
}

#data-listing{
  margin-left: 0px;
}
#data-listing ul{
  margin-top: 24px;
  margin-left: 10px;
  padding: 0;
  list-style-type: none;
}
#docIcon-anchor {
  position: relative;
}

#docIcon-anchor img{
    position: absolute;
}

.search-icon{
  position: absolute;
  top: -10px;
  left: -40px;
  opacity: .3;
}

.data-label{
  float: left;
  min-width: 100px;
}

#data-listing li{
  margin-bottom: 10px;
  white-space: nowrap;
}

#note-label{
    color: lightgrey;
    margin-left: 5px;
}
#user_note{
  font-family: 'Source Sans Pro';
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 10px;
  min-height: 10em;
  resize: none;
  width: 140%;
  padding: 15px;
  border: none;
}

#user_note::-webkit-scrollbar {
  width: 8px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#user_note::-webkit-scrollbar-thumb {
    width: 8px;
	border-radius: 10px;
	background-color: lightgrey;
}

input[type=text],textarea{
  outline: none;
}

/* input[type=text]:focus, textarea:focus { */
  /* box-shadow: 0 0 5px rgba(81, 203, 238, 1); */
  /* padding: 3px 0px 3px 3px; */
  /* border: 1px solid rgba(81, 203, 238, 1); */
/* } */

input:focus{
  transition: border-color .2s;
  border-bottom: solid 1px blue;
  outline: none;
}

#alert-history ul{
  padding: 0;
  list-style-type: none;
  overflow: auto;
  height: 100px;
}

#alert-history ul::-webkit-scrollbar {
  width: 8px;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#alert-history ul::-webkit-scrollbar-thumb {
    width: 8px;
	border-radius: 10px;
	background-color: lightgrey;
}

#alert-history li{
  border-bottom: solid 1px #f2f2f2;
  width: 70%;  
}

#submit_btn_anchor{
  position: relative;
}
#submit_changes_btn{
  font-size: 16px;
  position: absolute;
  top: -80px;
  color: grey;
  border: none;
  border-bottom: dotted 1px grey;
  outline: none;
  transition: right .6s ease-in;
  transition: color .3;
}

#user_saved{
  z-index: 2;
  display: none;
  position: absolute;
  top: 48px;
  left: 388px;
  color: white;
  background: #4169e1;
  padding: 8px 20px 8px 20px;
  transition: top .3s;
}

.small-circle{
  float: left;
  margin: 5px;
  margin-left: -5px;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  background: #3cb371;
  border-radius: 50%;
}

.alert-urgent::before{
  content:"! ";
  color: red;
  font-weight: bold;
}

/* Testing */

.not-ready{
  text-decoration: line-through;
}

/* End Testing */

/* Expandable */

#expandable{
  float: left;
  width: 100%;
}

#expandable ul{
    list-style: none;
}

#expandable li{
    position: relative;
    padding: 5px;
    border-bottom: solid 1px lightgrey;
    width: 60%;
    font-size: 14px;
}

#expandable h2{
  font-size: 13px;
}

.scheduled{
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: grey;
        top:  10px;
        right: 12px;
        position: absolute;
}

#expandable{
    transition: opacity .2s;
}
#expandable div + h2 {
  border-top: 2px solid;
}

#expandable h2 button {
  all: inherit;
  border: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.2em 0;
}

#expandable button:hover{
    cursor: pointer;
}

#expandable h2 button:focus svg {
  outline: 2px solid;
}
#expandable div{
    display: none;
    margin-bottom: 1.5em;
}

#expandable button svg {
  height: 1em;
  margin-left: 0.5em;
}

#expandable [aria-expanded="true"] .vert {
  display: none;
}

#expandable [aria-expanded] rect {
  fill: currentColor;
}

#expandable ul li{
    white-space: nowrap;
}
#expandable ul{
    margin: 0;
}

/* page styles */