body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  max-width: 730px;
  margin: auto;
  margin-top: 100px;
}

@media only screen and (max-width: 600px){
  body{
  width: 95%;
  margin-top: 20px;
  }
  .question img{
  width: 100% !important;
}
  .answer{
    width: 90% !important;
  }
}

.answer{
    text-align: center;
    width: 60%;
    margin: auto;
}

.answer_multiple{
    width: 60%;
}

#submit{
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

h2{
  font-weight: 500;
}

.result_screen{
  width: 60%;
  text-align: center;
  margin: auto;
}

#results_div{
  display: none;
  border: 1px;
  width: 300px;
  border-style: solid;
}
#footer{
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.choice_btn{
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.btn{
  padding: 8px 10px;
  background: rgba(79, 172, 179, .1);
  border-color: rgb(79, 172, 179, .8);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color: rgb(79, 172, 179);
  transition:background .15s;
  font-size: 1.4vw;
  min-width: 8vw;
  min-height: 3vw;
}

.btn:hover{
  background: rgba(79, 169, 179, .25);
  transition:background .15s;
}

.btn:focus{
  background: rgba(79, 172, 179, .25);
  outline: none;
  border-width: 1px;
  transition:background border-width .15s;
}

.btn.selected{
  background: rgba(79, 172, 179, .25);
  outline: none;
  border-width: 2px;
}

.green_btn{
  background: rgba(255, 255, 255, .25);
  border-color: rgba(0, 0, 0, .8);
  margin-top: 10px;
  color: rgba(0, 0, 0);
}
.green_btn:hover{
  background: rgba(255, 255, 255, .25);
  border-color: rgba(79, 169, 79, .85);
  transition: border-color .15s;
}

.green_btn:focus{
  background: rgba(79, 172, 79, .02);
  border-width: 1px;
  outline: none;
}

.green_btn.selected{
  background: rgba(79, 172, 79, .02);
  outline: none;
  border-width: 2px;
}

.question {
  margin-bottom: 30px;
}

.question img{
  width: 550px;
}

#success span{
  font-size: 20px;
}

.container {
  margin: 60px auto;
  width: 300px;
  height: 100%;
  text-align: center;
}

.container .progress {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 300px;
  /*background-color: #f8f8f8;*/
}

#progress {
  display: none;
}

.progress-bar {
  height: 6px;
  border-radius: 1px;
  background-color: #33A1DE;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, 
}
