body{
  font-family:  'hk_groteskregular','Source Sans Pro', sans-serif;
  font-weight: 400;
  max-width: 730px;
  margin: auto;
  margin-top: 100px;
  }

#language{  
    display: none;
}

/* set elements to invisible until load is ready */
.page{
    display: none;
}

#success .description{
    font-size: 1.1em;
}

#success_gradient{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #007ea7;
background-image: linear-gradient(315deg, #007ea7 0%, #80ced7 74%);
  z-index: -1;
  opacity: 0;
  transition: opacity .4s ease-in;
}


@media only screen and (max-width: 600px){
  .spacer{
    height: 0em !important;
}
  .question{
      padding: 0px 20px !important;
  }
  .question img{
  width: 100% !important;
  
}

   body{
  width: 95%;
  margin-top: 20px;
  }
  
  .progress-bar{
      height: 4px !important;
  }
  #distancing{
    width: 40%;
  }
  .footer{
      font-size: .8em;
  }
  .citation{
      font-size: .8em;
  }
  
  .title{
      margin-top: 7vh;
  }
  .question img{
  width: 100% !important;
}
  .answer{
    position: fixed;
    bottom: 10vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 90% !important;
  }
  #welcome{
      padding: 20px;
  }
  #welcome p{
      padding: 10px;
  }
  #welcome .answer{
      bottom: 17vh;
  }
  .result_screen{
      width: 90% !important;
      padding: 20px;
  }
  .result_screen .title{
      margin-top: 0px;
  }
  .result_screen p{
      padding: 10px;
  }
  
  .answer_multiple{
    position: absolute;
    bottom: 16vh;
    margin: auto;
    left: 6vw;
    padding: 8px 10px !important;
    font-size: 1.1em;
    width: 85% !important;
   }
   
   .answer_multiple button{
       border-radius: 10px;
       padding: 15px;
       margin-top: .5em;
   }
    
  .container{
    width: 100%;
  }
  
  .answer .btn{
    font-size: 18px !important;
    border-radius: 24px;
    font-weight: 500;
    margin: .3em;
    padding: .6em;
    width: 40% !important;
  }
  
  .submit_btn{
    border-radius: 24px !important;
    font-size: 20px !important;
    margin: .3em;
    padding: .6em;
    width: 70%;
    
  }
}


/* high resolution mobile display */
/* @media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-width:1920px){ */
 

.answer{
    text-align: center;
    width: 60%;
    margin: auto;
}

.answer_multiple{
    width: 70%;
}

#submit{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    display: none;
}

h2{
  font-weight: 500;
}

.list{
    margin-top: 1.5em;
    margin-bottom: -1.5em;
}
.list li{
    margin-top: .5em;
}

/* question footer text */
.footer{
    margin-top: 4em;
}

.errormsg{
    margin-top: 2em;    
}



.inline-bold{
    font-weight: bold;
}

.inline-italic{
    font-weight: italic;
}

.result_screen{
  width: 60%;
  text-align: center;
  margin: auto;
}

#results_div{
  display: block;
  border: 1px;
  width: 300px;
  border-style: solid;
}
#footer{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.answer .btn{
  margin: .3em;
  margin-top: 1.5em;
  width: 20%;
}

.btn{
  padding: 8px 10px;
  background: white;
  border-color: lightgrey;
  color: #2f84ea;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  transition:background .15s;
  font-size: 15px;
}

.btn:hover{
  background: rgba(47, 132, 234, .1);
  border-color: rgba(47, 132, 234, .2);
  transition:background .15s;
}

.btn:focus{
  background: rgba(47, 132, 234, .1);
  border-color: rgba(47, 132, 234, .2);
  outline: none;
  border-width: 1px;
  transition:background border-width .15s;
}

.btn.selected{
  background: rgba(47, 132, 234, .1);
  border-color: rgba(47, 132, 234, .2);
  outline: none;
  border-width: 1px;
  transition: border-width .5s;
}
.start_btn{
  color: black;
}
.start_btn:hover{
  background: #f8f8f8;
  border-color: #e8e8e8;
}

.choice_btn{
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
  color: #686868 !important;
  padding: 14px 16px;
}

.green_btn{
  background: rgba(255, 255, 255, .25);
  border-color: lightgrey;
  margin-top: 10px;
  color: rgba(0, 0, 0);
}
.green_btn:hover{
  background: rgba(255, 255, 255, .25);
  border-color: #77dd77;
  transition: border-color .15s;
}

.green_btn:focus{
  background: rgba(79, 172, 79, .05);
  border-width: 1px;
  outline: none;
}

.green_btn.selected{
  background: rgba(79, 172, 79, .1);
  outline: none;
  border-width: 2px;
}

.question {
  margin-bottom: 30px;
}

.question img{
  width: 550px;
}

.back_btn{
    background: white;
    border-radius: 2px;
    border: solid 1px lightgrey;
    color: grey;
}
.forward_btn{
    background: white;
    border-radius: 2px;
    border: solid 1px lightgrey;
    color: grey;
}

  #distancing{
    z-index:-1;
    position: absolute;
    bottom: 0px;
    width: 20%;
  }

#success {
  color: white;
}
#success .title{
    font-weight: bold;
}

#success .description{
    margin-bottom: 5em;
}

#success span{
  font-size: 20px;
  background: white;
  color: black;
  padding: 2px 10px;
  border-radius: 4px;
}

.welcome_screen{
  text-align: center;
}

.welcome_screen img{
  width: 25%;
}

.container {
  margin: 60px auto;
  width: 300px;
  height: 100%;
  text-align: center;
}

.container .progress {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  width: 300px;
  /*background-color: #f8f8f8;*/
}

#progress {
  display: none;
}

.progress-bar {
  height: 6px;
  border-radius: 1px;
  background-color: #5fb5e5;
  /* 33A1DE */
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, 
}

.spacer{
    height: 1em;
}